{
  "openapi": "3.1.0",
  "info": {
    "title": "Puls Alpha Signal",
    "summary": "Flagship premium house forecast (stance, confidence, thesis, edge) for $0.001 via Circle Nanopayments (x402) on Arc.",
    "description": "The Puls Alpha feed: a researched, falsifiable forecast on a live prediction market with explicit stance (YES/NO), confidence percentage, thesis and edge vs the crowd. Payment via x402: an unauthenticated request returns HTTP 402 with a base64 PAYMENT-REQUIRED header; retry with a payment-signature header to receive the resource plus a PAYMENT-RESPONSE settlement header.",
    "version": "1.0.0",
    "x-puls-service-id": "puls-alpha-sample",
    "x-x402": {
      "protocolVersion": 2,
      "scheme": "exact",
      "network": "eip155:5042002",
      "asset": "0x3600000000000000000000000000000000000000",
      "assetSymbol": "USDC",
      "priceUsdc": "0.001",
      "payTo": "0xa93FFcC230d1bd6f6b0a23a7f8BEcc2C9ECD894e",
      "gatewayWallet": "0x0077777d7EBA4688BDeF3E311b846F25870A19B9",
      "maxTimeoutSeconds": 691200
    }
  },
  "servers": [
    { "url": "https://api.pulsmarket.tech", "description": "Production (Arc Testnet settlement)" }
  ],
  "security": [],
  "paths": {
    "/api/alpha/sample": {
      "get": {
        "operationId": "getAlphaSample",
        "summary": "Paid flagship alpha forecast ($0.001 USDC)",
        "tags": ["Signals"],
        "parameters": [],
        "responses": {
          "402": {
            "description": "Payment required. A base64 PAYMENT-REQUIRED header carries the x402 v2 requirements (scheme exact, network eip155:5042002, USDC, amount 1000 atomic units).",
            "headers": {
              "PAYMENT-REQUIRED": { "required": true, "schema": { "type": "string", "contentEncoding": "base64" } }
            }
          },
          "200": {
            "description": "Alpha forecast delivered after successful x402 settlement.",
            "headers": {
              "PAYMENT-RESPONSE": { "required": false, "schema": { "type": "string", "contentEncoding": "base64" } }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "id": { "type": "string" },
                    "title": { "type": "string" },
                    "stance": { "type": "string", "enum": ["YES", "NO"] },
                    "confidence": { "type": "number" },
                    "thesis": { "type": "string" },
                    "paid": { "type": "string", "example": "$0.001" }
                  }
                }
              }
            }
          },
          "503": { "description": "Alpha feed not configured." }
        }
      }
    }
  },
  "x-how-to-pay": {
    "circleCli": "circle services pay \"https://api.pulsmarket.tech/api/alpha/sample\" --address <AGENT_WALLET_ADDRESS> --chain ARC-TESTNET"
  }
}
