{
  "openapi": "3.1.0",
  "info": {
    "title": "BTCNode Premium Oracle",
    "summary": "Real-time BTC order-book pressure, liquidation-heat proxy and whale alerts for $0.000001 via Circle Nanopayments (x402) on Arc.",
    "description": "Crypto micro-oracle: live BTC/USDT price from top CEX feeds, mempool-driven whale-alert count, liquidation-risk assessment and an aggregate order-book imbalance reading. Payment via x402: an unauthenticated request returns HTTP 402 with a base64 PAYMENT-REQUIRED header; retry with a payment-signature header to receive the resource plus a PAYMENT-RESPONSE settlement header.",
    "version": "1.0.0",
    "x-puls-service-id": "btcnode_premium",
    "x-x402": {
      "protocolVersion": 2,
      "scheme": "exact",
      "network": "eip155:5042002",
      "asset": "0x3600000000000000000000000000000000000000",
      "assetSymbol": "USDC",
      "priceUsdc": "0.000001",
      "payTo": "0xa93FFcC230d1bd6f6b0a23a7f8BEcc2C9ECD894e",
      "gatewayWallet": "0x0077777d7EBA4688BDeF3E311b846F25870A19B9",
      "maxTimeoutSeconds": 691200
    }
  },
  "servers": [
    { "url": "https://api.pulsmarket.tech", "description": "Production (Arc Testnet settlement)" }
  ],
  "security": [],
  "paths": {
    "/api/oracle/btcnode-premium": {
      "get": {
        "operationId": "getBtcnodePremium",
        "summary": "Paid BTC market-pressure oracle ($0.000001 USDC)",
        "tags": ["Crypto Oracles"],
        "parameters": [],
        "responses": {
          "402": {
            "description": "Payment required. A base64 PAYMENT-REQUIRED header carries the x402 v2 requirements (scheme exact, network eip155:5042002, USDC, amount 1 atomic unit).",
            "headers": {
              "PAYMENT-REQUIRED": { "required": true, "schema": { "type": "string", "contentEncoding": "base64" } }
            }
          },
          "200": {
            "description": "Oracle data delivered after successful x402 settlement.",
            "headers": {
              "PAYMENT-RESPONSE": { "required": false, "schema": { "type": "string", "contentEncoding": "base64" } }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "service": { "const": "btcnode_premium" },
                    "btc": {
                      "type": "object",
                      "properties": {
                        "price": { "type": "number", "example": 104850.5 },
                        "whaleAlerts": { "type": "integer" },
                        "liquidationRisk": { "type": "string", "enum": ["moderate", "high"] },
                        "orderBookImbalance": { "type": "string", "example": "+2.1% buy-side" }
                      }
                    },
                    "meta": { "type": "object", "properties": { "source": { "type": "string" }, "freshness": { "type": "string" }, "confidence": { "type": "number" } } },
                    "settled": { "type": ["object", "null"], "properties": { "by": { "type": "string" }, "tx": { "type": ["string", "null"] } } }
                  }
                }
              }
            }
          },
          "502": { "description": "Upstream oracle feeds unavailable." }
        }
      }
    }
  },
  "x-how-to-pay": {
    "circleCli": "circle services pay \"https://api.pulsmarket.tech/api/oracle/btcnode-premium\" --address <AGENT_WALLET_ADDRESS> --chain ARC-TESTNET"
  }
}
