{
  "openapi": "3.1.0",
  "info": {
    "title": "Sugra Macro Intelligence",
    "summary": "CPI nowcast and Fed rate-cut odds aggregated from institutional feeds for $0.000005 via Circle Nanopayments (x402) on Arc.",
    "description": "Macro micro-oracle: US CPI nowcast (World Bank series) plus Fed next-meeting rate-cut probability and geopolitical-risk context, packaged for LLM prompts. Payment via x402: an unauthenticated request returns HTTP 402 with a base64 PAYMENT-REQUIRED header; retry with a payment-signature header to receive the resource plus a PAYMENT-RESPONSE settlement header.",
    "version": "1.0.0",
    "x-puls-service-id": "sugra_macro",
    "x-x402": {
      "protocolVersion": 2,
      "scheme": "exact",
      "network": "eip155:5042002",
      "asset": "0x3600000000000000000000000000000000000000",
      "assetSymbol": "USDC",
      "priceUsdc": "0.000005",
      "payTo": "0xa93FFcC230d1bd6f6b0a23a7f8BEcc2C9ECD894e",
      "gatewayWallet": "0x0077777d7EBA4688BDeF3E311b846F25870A19B9",
      "maxTimeoutSeconds": 691200
    }
  },
  "servers": [
    { "url": "https://api.pulsmarket.tech", "description": "Production (Arc Testnet settlement)" }
  ],
  "security": [],
  "paths": {
    "/api/oracle/sugra-macro": {
      "get": {
        "operationId": "getSugraMacro",
        "summary": "Paid macro-intelligence oracle ($0.000005 USDC)",
        "tags": ["Macro Oracles"],
        "parameters": [],
        "responses": {
          "402": {
            "description": "Payment required. A base64 PAYMENT-REQUIRED header carries the x402 v2 requirements (scheme exact, network eip155:5042002, USDC, amount 5 atomic units).",
            "headers": {
              "PAYMENT-REQUIRED": { "required": true, "schema": { "type": "string", "contentEncoding": "base64" } }
            }
          },
          "200": {
            "description": "Oracle data delivered after successful x402 settlement.",
            "headers": {
              "PAYMENT-RESPONSE": { "required": false, "schema": { "type": "string", "contentEncoding": "base64" } }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "service": { "const": "sugra_macro" },
                    "fed": {
                      "type": "object",
                      "properties": {
                        "rateCutProbability": { "type": "string", "example": "65%" },
                        "nextMeeting": { "type": "string", "example": "Sep 2026" },
                        "cpiNowcast": { "type": "string", "example": "2.8% (WorldBank 2026)" }
                      }
                    },
                    "meta": { "type": "object", "properties": { "source": { "type": "string" }, "freshness": { "type": "string" }, "confidence": { "type": "number" } } },
                    "settled": { "type": ["object", "null"], "properties": { "by": { "type": "string" }, "tx": { "type": ["string", "null"] } } }
                  }
                }
              }
            }
          },
          "502": { "description": "Upstream macro feeds unavailable." }
        }
      }
    }
  },
  "x-how-to-pay": {
    "circleCli": "circle services pay \"https://api.pulsmarket.tech/api/oracle/sugra-macro\" --address <AGENT_WALLET_ADDRESS> --chain ARC-TESTNET"
  }
}
